/AllOccurrencesOfElement.class
/ArrayIsSorted.class
/DecreasingNumber.class
/Factorial.class
/FibonacciSeries.class
/FirstOccurenceOfElement.class
/First_and_Last_Occurence.class
/FriendsPairingProblem.class
/Increasing_Number.class
/KeypadCombination.class
/LastOccurenceOfElement.class
/MoveAllXtoend.class
/OPTIMIZED__x_To_The_Power_n.class
/RemoveDuplicatesFromString.class
/Subsets.class
/SumOfNaturalNumber.class
/TilingProblem.class
/TowerOfHanoi.class
/UniqueSubSequence.class
/WordBreakII.class
/x_To_The_Power_n.class